#header:target::before {
  content: '';
  display: block;
  height: 80px;
}

#about:target::before {
  content: '';
  display: block;
  height: 50px;
}

#resume:target::before {
  content: '';
  display: block;
  height: 50px;
}
#portfolio:target::before {
  content: '';
  display: block;
  height: 50px;
}
#foto img {
  width: 180px;
  border-radius: 50%;
}
#ChangeCollorButton #input-Button {
  width: 42px;
  height: 24px;
  cursor: pointer;
}
